*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1{
    font-size: 114.3px;
    color: #3d2514;
    font-family: "Alfa Slab One", serif;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
h2{
    font-size: 56.49px;
    line-height: 61.75px;
    color: #3d2514;
    font-family: "Alfa Slab One", serif;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
h3{
    font-size: 41.67px;
    line-height: 37.5px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}
h4{
    font-size: 37.5px;
    line-height: 37.5px;
    color: #3d2514;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}
h5{
    font-size: 29px;
    line-height: 45.8px;
    font-family: "Bebas Neue", sans-serif;
    color: #3d3d3d;
}
p{
    font-size: 16.25px;
    line-height: 29.27px;
    font-family: "Montserrat", sans-serif;
    color: #3d2514;
}
header{
    background: url('../image/Rectangle\ banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 824px;
}
.top-container{
    display: flex;
    justify-content: space-between;
    padding: 56px 56px 0 56px;
}

.navbar ul{
    display: flex;
}
.navbar li{
    list-style: none;
    font-size: 20.83px;
    font-family: "Bebas Neue", sans-serif;
    margin-right: 56px;
}
.navbar li a{
    color: #3d2514;
    text-decoration: none;
}
.dropdown{
    display: none;
}
.delivery{
    text-align: end;
}
.delivery p{
    position: relative;
    font-size: 16.67px;
    line-height: 70.8px;
    font-weight: bold;
    color: #3d2514;
    font-family: "Montserrat", sans-serif;
    display: inline;
}
.delivery p::before{
    content: url('../image/Delivery\ logo.png');
    position: absolute;
    left: -50px;
    top: -15px;
}
.navbar ul li:last-child{
    margin-right: 0;
}
.navbar li a:hover{
    color: red;
}
/* Banner Section */
.banner-section{
    display: flex;
    box-sizing: border-box;
    padding-top: 76px;
    gap: 110px;
}
.banner-content{
    margin-left: 60px;
    width: 50%;
    padding-top: 78px;
}
.banner-content p{
    color: #3d2514;
    font-size: 23.65px;
    line-height: 32.85px;
    font-family: "Bebas Neue", sans-serif;
    border: 4px dashed #3d2514;
    padding: 18px 13px;
    display: inline-block;
}
.banner-image{
    width: 50%;
    padding-right: 136px;
    text-align: end;
}
.main-image{
    position: relative;
}
.batch{
    position: absolute;
    bottom: 0;
}
/* section */
.container{
    width: 1297px;
    margin: 0 auto;
}
.famous-dish{
    display: flex;
    margin-top: 78px;
    justify-content: center;
    gap: 42px;
}
.famous-dish h3{
    font-weight: 600;
}
.famous-side1{
    position: relative;
    width: 50%;
}
.famous-side1 img,.famous-top img,.famous-bottom img{
    height: 100%;
    width: 100%;
}
.famous-side2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.side1-content{
    position: absolute;
    top: 30px;
    left: 25px;
}
.side1-content p,.side2-content p,.side3-content p{
    font-size: 25px;
    line-height: 37.5px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
.famous-top{
    position: relative;
}
.side2-content{
    position: absolute;
    top: 30px;
    left: 25px;
}
.side2-content h3{
    width: 70%;
}
.famous-bottom{
    position: relative;
}
.side3-content{
    position: absolute;
    top: 30px;
    left: 25px;
}
/* second-section */
.second-section{
    width: 100%;
}
.burger-content{
    text-align: center;
    margin-top: 70px;
}
.burger-content h3{
    font-size: 25px;
    line-height: 37.5px;
    padding: 15px 22px;
    background-color: #ffc045;
    color: #3d2514;
    display: inline-block;
}
.burger-content h2{
    font-size: 50px;
    line-height: 37.5px;
    filter: none;
    margin-top: 40px;
}
.burger-content p{
    width: 80%;
    margin: 0 auto;
    margin-top: 34px;
}
.order-section{
    display: flex;
    margin-top: 66px;
    justify-content: center;
    text-align: center;
    align-items: end;
}
.order{
    width: 33%;
}
.order-img{
    margin-bottom: 30px;
}
.order-img img{
    width: 100%;
}
.order-section p{
    width: 70%;
    margin: 0 auto;
    line-height: 20.83px;
    margin-top: 24px;
    margin-bottom: 36px;
}
button{
    padding: 12px 35px;
    background-color: #bf2222;
    color: white;
    border: none;
    font-size: 16.67px;
    line-height: 37.5px;
    font-family: "Alfa Slab One", serif;
}
/* Third-Section */
.third-section{
    padding-bottom: 32px;
}
.upcoming-content h3{
    color: #3d2514;
    font-family: "Alfa Slab One", serif;
    line-height: 45.83px;
}
.upcoming-event{
    display: flex;
    padding: 26px 26px 26px 56px;
    margin-top: 130px;
    -webkit-box-shadow: 5px 4px 11px 16px rgba(228,228,228,0.65); 
    box-shadow: 5px 4px 11px 16px rgba(228,228,228,0.65);
}
.upcoming-content{
    position: relative;
}
.yellow-circle{
    position: absolute;
    bottom: 0;
}
.circle{
    position: absolute;
    bottom: 0;
    left: 27px;
}
.upcoming-content{
    width: 50%;
    margin-top: 37px;
}
.upcoming-image{
    width: 50%;
}
.upcoming-image img{
    width: 100%;
}
.upcoming-content p{
    font-size: 20.8px;
    line-height: 33px;
    margin-top: 30px;
    width: 87%;
    color: #3d3d3d;
}
.reservation h2{
    filter: none;
    font-size: 50px;
    word-spacing: 10px;
}
/* FORM */
.four-section h5{
    color: #3d2514;
}
.four-section{
    position: relative;
    overflow: hidden;
    padding-bottom: 176px;
}
.bottle{
    position: absolute;
    left: 10px;
    bottom: -100px;
}
.plate-burger{
    position: absolute;
    right: -133px;
    bottom: -120px;
}
.reservation{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 24px;
}
.single-burger{
    position: absolute;
    top: 0;
    left: -84px;
}
.reservation-form input,.reservation-form button{
    font-size: 20.83px;
    line-height: 45.83px;
    border-radius: 5px;
    border: 1px solid #bebebe;

}
.reservation-form input{
    padding: 13px;
    width: 60%;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: #3d3d3d;
}
.reservation-form button{
    width: 60%;
    padding: 15px 0; 
}

.reservation-form{
    display: flex;
    gap: 26px;
    justify-content: center;
    margin-top: 88px;
    position: relative;
}
.reservation-form input{
    margin-bottom: 27px;
}
.division1,.division2{
    width: 50%;
}
.division1{
    text-align: end;
    position: relative;
}
.division2{
    position: relative;
}

/* footer */
footer{
    padding: 0 57px 66px 57px;
}
.footer{
    background: url("../image/Footerbanner.png");
    background-size: cover;
    padding: 84px 18px 20px 42px;
}
.foot-top{
    display: flex;
}
.foot-left p{
    color: white;
    width: 85%;
    line-height: 25px;
}
.foot-copy p{
    line-height: 28.29px;
    font-family: "Bebas Neue", sans-serif;
}
.foot-content p{
    font-size: 20.83px;
    line-height: 37.5px;
    font-family: "Bebas Neue", sans-serif;
}
.foot-left,.foot-right{
    width: 50%;
}
.foot-left{
    padding: 48px 0;
}
.foot-right{
    align-self: center;
    margin: 0 auto;
    text-align: center;
}
.foot-right p{
    color: white;
}
.foot-content{
    display: inline-block;
}
.address,.main-email{
    display: flex;
    gap: 34px;
}
.address{
    padding-bottom: 17px;
}
.foot-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.foot-copy p{
    color: white;
}
.foot-social img{
    padding-right: 12px;
}
/* MEDIA QUERY */
@media screen and (max-width: 1412px){
    .order-section p{
        width: 88%;
    }
}
@media screen and (max-width: 1400px){
    .banner-section{
        gap: 70px;
    }
}
@media screen and (max-width: 1360px)
{
    .banner-image{
        padding-right: 100px;
    }
    .container{
        width: 90%;
    }
    .burger-content p{
        width: 100%;
    }
    .famous-side1 img,.famous-top img,.famous-bottom img{
        width: 100%;
    }
    .famous-dish h3{
        font-size: 32px;
        line-height: 35px;
    }
    .upcoming-content,.upcoming-content p{
        margin-top: 10px;
    }
    .main-image img{
        width: 100%;
    }
    header{
        height: auto;
    }
    .banner-section{
        padding: 70px 0;
    }
    .plate-burger{
        width: 30%;
        right: -122px;
        bottom: -44px;
    }
    .plate-burger img{
        width: 100%;
    }
}
@media screen and (max-width: 1340px)
{
    .banner-image{
        padding-right: 80px;
    }
}
@media screen and (max-width: 1320px)
{
    h1{
        font-size: 100px;
    }
    .foot-bottom{
        margin-top: 80px;
    }
}
@media screen and (max-width: 1252px)
{
    h1{
        font-size: 90px;
    }
    .famous-dish h3{
        font-size: 30px;
    }
    .famous-dish p{
        font-size: 22px;
        line-height: 27.5px;
    }
    .banner-content h2{
        line-height: 50px;
    }
}
@media screen and (max-width: 1222px)
{
    .upcoming-event h5{
        font-size: 20px;
        line-height: 20px;
    }
    .upcoming-content p{
        font-size: 18px;
        line-height: 24px;
    }
    .upcoming-event{
        padding-left: 35px;
    }
    .upcoming-content h3{
        font-size: 36px;
    }
    .bottle{
        left: -10px;
    }
    .plate-burger{
        right: -107px;
        bottom: 0;
    }
}

@media screen and (max-width: 1150px)
{
    .banner-content{
        margin-left: 50px;
    }
    .side1-content,.side2-content,.side3-content{
        top: 20px;
        left: 20px;
    }
}
@media screen and (max-width: 1124px){
    .order-section p{
        width: 100%;
    }
}
@media screen and (max-width: 1080px){
    .banner-content{
        padding-top: 55px;
    }
    .order-section p{
        width: 65%;
        margin-top: 16px;
    }
}
@media screen and (max-width: 1024px)
{
    .banner-image{
        padding-right: 50px;
    }
    .top-container{
        padding: 50px 50px 0 50px;
    }
    .navbar li{
        font-size: 18px;
        margin-right: 50px;
    }
    .famous-dish h3{
        font-size: 24px;
        line-height: 28px;
    }
    .famous-dish p{
        font-size: 18px;
        line-height: 25px;
    }
    .side1-content,.side2-content,.side3-content{
        top: 10px;
        left: 10px;
    }
    .order-content h4{
        font-size: 30px;
        line-height: 32px;
    }
    .order-content p{
        margin: 16px auto 30px auto;
    }
    .single-burger{
        width: 30%;
        left: -60px;
        top: 40px;
    }
    .single-burger img{
        width: 100%;
    }
    .upcoming-event{
        padding:10px 10px 10px 30px;
    }
    .upcoming-content h3{
        font-size: 32px;
    }
    .reservation-form{
        margin-top: 80px;
    }
    .footer{
        padding-top: 72px;
    }
    .four-section{
        padding-bottom: 140px;
    }
    .plate-burger{
        right: -94px;
        bottom: -10px;
    }
    .bottle{
        left: -36px;
    }
}
@media screen and (max-width: 972px)
{
    .banner-content p{
        font-size: 20px;
        line-height: 28px;
    }
    .banner-content h1{
        font-size: 80px;
    }
    .banner-content h2{
        font-size: 50px;
    }
    .banner-content{
        padding-top: 0;
        align-self: center;
    }
    .order-content button{
        padding: 10px 20px;
    }
    .foot-img{
        width: 50%;
    }
    .foot-img img{
        width: 100%;
    }
    .upcoming-event h3{
        line-height: 35px;
        font-size: 27px;
    }
    .upcoming-event h5{
        font-size: 18px;
    }
    .upcoming-content p{
        font-size: 16px;
        line-height: 18px;
        width: 95%;
    }
    .yellow-circle{
        width: 16px;
        bottom: 8px;
    }
    .circle{
        width: 32px;
        left: 21px;
        bottom: 8px;
    }
    .yellow-circle img,.circle img{
        width: 100%;
    }
    .upcoming-content{
        padding-top: 30px;
    }
    .plate-burger{
        right: -77px;
        bottom: 0;
    }
}

@media screen and (max-width: 890px)
{
    .banner-content p{
        font-size: 18px;
        line-height: 26px;
    }
    .banner-content h1{
        font-size: 70px;
    }
    .banner-content h2{
        font-size: 40px;
    }
    .famous-dish h3{
        font-size: 22px;
        line-height: 26px;
    }
    .foot-right p{
        font-size: 17px;
        line-height: 26px;
    }
    .address::before{
        top: -4px;
    }
    .upcoming-content p{
        font-size: 14px;
        line-height: 18px;
    }
    .upcoming-content{
        padding-top: 20px;
    }
    .bottle{
        left: -56px;
    }
    .footer{
        padding-top: 66px;
    }
}
@media screen and (max-width: 824px){
    .banner-content p{
        font-size: 16px;
        line-height: 26px;
    }
    .banner-content h1{
        font-size: 64px;
    }
    .banner-content h2{
        line-height: 40px;
    }
    .banner-section{
        padding: 50px 0;
    }
    .navbar li{
        margin-right: 40px;
    }
    .delivery p{
        font-size: 15px;
    }
    .top-container{
        padding: 40px 40px 0 40px;
    }
    .famous-dish p{
        font-size: 16px;
        line-height: 20px;
    }
    .upcoming-content{
        padding-top: 7px;
    }
    .four-section h5{
        line-height: 65px;
    }
    .plate-burger{
        right: -70px;
        bottom: 20px;
    }
}
@media screen and (max-width: 796px)
{
    .order-section p{
        width: 88%;
    }
}
@media screen and (max-width: 768px)
{
    li,.delivery{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .dropdown img{
        width: 50px;
        padding-top: 6px;
    }
    .banner-section{
        flex-direction: column;
        padding: 80px 0;
        gap: 55px;
    }
    .banner-content{
        width: 90%;
        margin-bottom: 60px;
        padding-top: 0;
    }
    .banner-image{
        padding-right: 0;
        width: 60%;
        margin: 0 auto;
    }
    .banner-content h1{
        font-size: 70px;
    }
    .banner-content h2{
        font-size: 50px;
    }
    .famous-dish{
        flex-direction: column;
    }
    .famous-side1,.famous-side2{
        width: 80%;
        margin: 0 auto;
    }
    .famous-dish,.famous-side2{
        gap: 20px;
    }
    .famous-dish p{
        font-size: 25px;
        line-height: 37.5px;
    }
    .famous-dish h3{
        font-size: 41px;
        line-height: 37.5px;
    }
    .side1-content,.side2-content,.side3-content{
        top: 30px;
        left: 25px;
    }
    .burger-content h3{
        padding: 10px 20px;
    }
    .burger-content h2{
        font-size: 39px;
    }
    .order-section
    {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .order{
        width: 65%;
        margin-top: 60px;
    }
    .order-img{
        margin-bottom: 20px;
    }
    .reservation-form{
        flex-direction: column;
        gap: 0;
        margin-top: 65px;
    }
    .bottle{
        /* display: none; */
        bottom: 0;
        left: -45px;
    }
    .single-burger{
        left: -45px;
        top: 70px;
    }
    .reservation-form input,.reservation-form button{
        width: 60%;
    }
    .division1,.division2{
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }
    .reservation h2{
        font-size: 38px;
    }
    .foot-top{
        flex-direction: column;
    }
    .foot-left{
        width: 100%;
    }
    .foot-right{
        width: 100%;
        margin: 0;
        align-self: start;
        text-align: start;
    }
    .foot-content{
        padding-right: 0;
    }
    .upcoming-event{
        flex-direction: column;
        margin-top: 100px;
        padding: 0;
    }
    .upcoming-content{
        padding: 40px 0;
        width: 90%;
        margin-left: 30px;
    }
    .upcoming-event h5{
        font-size: 22px;
        line-height: 26px;
    }
    .upcoming-event h3{
        font-size: 30px;
        line-height: 50px;
    }
    .upcoming-event p{
        font-size: 16px;
        line-height: 24px;
    }
    .upcoming-image{
        width: 100%;
        margin: 40px 0;
        text-align: center;
    }
    .upcoming-image img{
        width: 90%;
    }
    .order-content p{
        width: 80%;
    }
    .footer{
        padding-top: 62px;
    }
}
@media screen and (max-width: 704px)
{
    .famous-dish p{
        font-size: 20px;
        line-height: 30.5px;
    }
    .famous-dish h3{
        font-size: 34px;
        line-height: 36.5px;
    }
    .plate-burger{
        width: 32%;
        right: -56px;
    }
}
@media screen and (max-width: 628px){
    .order-section p{
        width: 100%;
    }
}

@media screen and (max-width: 627px)
{
    .famous-dish p{
        font-size: 16px;
        line-height: 20.5px;
    }
    .famous-dish h3{
        font-size: 27px;
        line-height: 30.5px;
    }
    .footer{
        padding-left: 30px;
    }
    .foot-social img{
        padding-right: 7px;
    }
    .bottle{
        left: -59px;
    }
}
@media screen and (max-width: 575px)
{
    .top-container{
        padding: 30px 30px 0 30px;
    }
    .banner-content{
        margin-left: 30px;
    }
    .banner-image{
        width: 70%;
    }
    .banner-content h1{
        font-size: 60px;
    }
    .banner-content h2{
        font-size: 40px;
    }
    .side1-content,.side2-content,.side3-content{
        top: 10px;
        left: 17px;
    }
    .reservation{
        margin-top: 100px;
    }
    .reservation h2{
        font-size: 32px;
    }
    .reservation-form{
        margin-top: 40px;
    }
    .foot-bottom{
        flex-direction: column;
        gap: 20px;
    }
    footer{
        padding: 0 30px 40px 30px;
    }
    .foot-left p{
        line-height: 24px;
    }
    .container{
        width: 90%;
    }
    .bottle{
        width: 43%;
        left: -35px;
        bottom: 35px;
    }
    .bottle img{
        width: 100%;
    }
    .foot-img{
        width: 60%;
    }
    .foot-img img{
        width: 100%;
    }
    .single-burger{
        width: 35%;
        left: -40px;
    }
    .plate-burger{
        right: -48px;
        bottom: 20px;
    }
    .four-section{
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 502px){
    .order-section p{
        width: 100%;
    }
    .order{
        width: 80%;
    }
}
@media screen and (max-width: 500px)
{
    .plate-burger{
        width: 34%;
        right: -40px;
    }
    .foot-left{
        padding-top: 42px;
    }
}
@media screen and (max-width: 425px)
{
    .head-logo{
        width: 50%;
    }
    .head-logo img{
        width: 100%;
    }
    .dropdown img{
        padding-top: 0;
    }
    .banner-content{
        margin-left: 20px;
    }
    .banner-image{
        width: 80%;
    }
    .famous-dish h3{
        font-size: 20px;
        line-height: 20px;
    }
    .famous-dish p{
        font-size: 16px;
        line-height: 16px;
    }
    .dropdown img{
        width: 35px;
    }
    .burger-content h2{
        font-size: 29px;
    }
    .burger-content p{
        line-height: 24px;
    }
    .reservation h2{
        font-size: 24px;
    }
    .reservation h5{
        font-size: 22px;
        line-height: 32px;
    }
    .single-burger{
        left: -30px;
    }
    .foot-img{
        width: 70%;
    }
    .reservation-form button{
        padding: 14px;
        font-size: 14px;
        line-height: 42px;
    }
    .plate-burger{
        width: 36%;
    }
}
@media screen and (max-width: 416px)
{
    .upcoming-content h3{
        font-size: 28px;
    }
    .upcoming-content{
        margin-left: 20px;
    }
}
@media screen and (max-width:408px){
    .order-section p{
        width: 71%;
    }
}
@media screen and (max-width: 397px){
    .upcoming-content h3{
        font-size: 23px;
        line-height: 44px;
    }
    .upcoming-content h5{
        font-size: 20px;
    }
    .bottle{
        left: -30px;
    }
}
@media screen and (max-width: 370px)
{
    .footer{
        padding-left: 15px;
    }
    .address::before{
        left: -40px;
        top: -4px;
    }
    .main-email::before{
        left: -40px;
    }
    .address,.main-email{
        gap: 13px;
    }
    .address img,.main-email img{
        width: 8%;
    }
    .foot-img{
        width: 80%;
    }
    .plate-burger{
        bottom: 45px;
        right: -30px;
    }
     .footer{
        padding-top: 52px;
     }
}